<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="/bower_components/foundation/css/foundation.min.css">
  </head>
  <body>
  <nav class="top-bar" data-topbar role="navigation">
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="left">
              <li class=""><a href="index.html">Home</a></li>
              <li class="divider"></li>
              <li class=""><a href="events.html">Events</a></li>
              <li class="divider"></li>
              <li class=""><a href="teams.html">Teams</a></li>
              <li class="divider"></li>
              <li class="has-dropdown">
                  <a href="#">About</a>
                  <ul class="dropdown">
                      <li><a href="#">First Dash</a></li>
                      <li class="active"><a href="#">API</a></li>
                  </ul>
              </li>
          </ul>
          <ul class="social-icons">
              <li><a href=""><i class="fi-telephone"></i></a></li>
              <li><a href=""><i class="fi-social-linkedin"></i></a></li>
              <li><a href=""><i class="fi-social-twitter"></i></a></li>
              <li><a href=""><i class="fi-social-facebook"></i></a></li>
          </ul>
      </section>
  </nav>
  </body>
</html>
