<div class="signInArea">
    <form class="userInfoForm" action="/login" method="POST">
        <p>
            <label>Username: </label>
            <input type="text" name="username"/><br>
            <label>Password: </label>
            <input type="password" name="password"/><br>
            <input type="submit" class="btn btn-primary btn-lg submitUserInfo" value="Log In"/><br>

            {{#if user}}
                <h1>{{user}}</h1>
            {{/if}}
        </p>
    </form>
</div>

<head>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>